.info-view {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 20px;
    margin-bottom: 20px;

}

.info-view .table {
    width: 100%
}

.info-view .box {

    align-items: center;
    min-width: 290px;
    width: 40%;
    height: 300px;
    background-color: transparent;
    margin: 10px;
    box-sizing: border-box;
}

.info-view h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.info-view .box .table {
    margin: auto;
    position: relative;
    left: 0px;
}

.info-view .box .text-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.info-view .box h3 {
    text-align: center;
    color: var(--title-color);
    text-shadow: 20px 20px 20px var(--shadow-box);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-img-top{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


/* Estilos generales del modal */
.modal {
    display: none; /* Ocultar el modal de forma predeterminada */
    position: fixed; /* Posición fija para que aparezca en la ventana del navegador */
    z-index: 9999; /* Z-index alto para asegurar que el modal esté en la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar desplazamiento si el contenido del modal es demasiado largo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  }
  
  /* Estilos del contenido del modal */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centrar verticalmente y dejar espacio en los bordes */
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px; /* Ancho máximo del modal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para el botón de cierre */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para la imagen del modal */
  .modal-img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Altura máxima de la imagen */
    object-fit: contain; /* Ajustar imagen al contenedor */
  }
  
  /* Estilos para la leyenda del modal */
  .modal-caption {
    text-align: center;
    margin-top: 20px;
  }