:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green: green;
}


.titulo{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    width: 100%;
    margin-top: 1em;
}

.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: var(--text-color);
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin: 0 1px;
}

.pagination a.active {
  background-color: var(--sidebar-color);
  color: var(--sidebar-color);
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: var(--body-color);
}

.pagination a:hover:not(.active) span {
  color: var(--sidebar-color);
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination .current-page {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0 1px;
}

.pagination .ellipsis {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  margin: 0 1px;
}

.pagination .current-page a {
  margin: 0 -1px;
}

.pagination-row:hover {
  background-color: initial;
  cursor: auto;
}

.pagination-row:hover td,
.pagination-row:hover a {
  background-color: transparent;
  color: inherit;
}

.pagination-row .pagination-container:hover .pagination {
  background-color: transparent;
}

.pagination-row .pagination-container:hover .pagination a {
  background-color: transparent;
  color: var(--text-color);
}

.pagination-row .pagination-container:hover .pagination a:hover:not(.active) {
  background-color: var(--body-color);
}

/* Estilo de la pestaña */
.modal-pestaña {
  position: relative;
  display: inline-block;
}

 /* Estilo del botón de flecha */
.flecha {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Estilo del botón de flecha */
.flecha {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Estilo del icono de flecha */
.flecha i {
  font-size: 13px; /* Tamaño del icono */
  color: blue; /* Color azul */
  line-height: 1; /* Ajuste del espaciado vertical */
}

/* Estilo del icono de flecha cuando el modal está abierto */
.flecha.abierto i {
  transform: rotate(180deg); /* Rota el icono 180 grados */
}

/* Estilo del contenido de la pestaña */
.modal-contenido {
  display: none;
  position: absolute;
  width: 200px; /* Ajusta el ancho del contenido según tus necesidades */
  background-color: #fefefe;
  border: 1px solid #888;
  z-index: 2;
  top: calc(100% + 1px); /* Coloca el contenido debajo del botón de flecha */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

/* Estilo del contenido visible cuando se abre la pestaña */
.modal-contenido.visible {
  display: block;
}
