{% extends "home/base.html" %}  {%load static%} {% block content %}

<link rel="stylesheet" href='{%static "css/reset.css"%}'>
{% load i18n static %}
<style>
    .home {
      background-image: url("{% static 'images/treesSnow.png' %}");
      background-repeat: no-repeat;
    }
</style>



<section class="home">
    <div class="text">Reestablecer contraseña</div>
<form method="post">{% csrf_token %}
<div class="container-reset">
    <div class="form-row field-email">
        <p class="titulo">INGRESE SU CORREO</p>
        {{ form.email.errors }}
        <label for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
        
    </div>
    
    <input type="submit" value="{% translate 'Reset my password' %}">
    <div class="hr"></div>
    <p class = "foot">Ingresa tu correo y te enviaremos un email con instrucciones para reestablecer tu contraseña</p>
</div>
</form>

</section>




{% endblock %}
