{% extends "home/base.html" %}  {%load static%} {% block content %}
{% load i18n %}

<link rel="stylesheet" href='{%static "css/reset.css"%}'>
<style>
    .home{
        background-image: url("{% static 'images/treesSnow.png' %}");
        background-repeat: no-repeat;
    }
</style>
<section class="home">
    <div class="container-reset">
        <p class="titulo">Restablecimiento completado</p>
        <p style="margin: 0 0 15%">{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
        <button><a href="{{ login_url }}">{% translate 'Log in' %}</a></button>
    </div>
</section>





{% endblock %}
