{% extends "home/base.html" %}  {%load static%} {% block content %}
{% load i18n static %}

<link rel="stylesheet" href='{%static "css/reset.css"%}'>
<style>

    .home {

      background-image: url("{% static 'images/treesSnow.png' %}");
      background-repeat: no-repeat;

}
</style>


{% if validlink %}
<section class="home">
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <div class="text">Reestablecer contraseña</div>
<form method="post">{% csrf_token %}
<div class="container-reset">
    <p class="titulo">CAMBIO DE CONTRASEÑA</p>
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% translate 'Change my password' %}">
</div>
</form>
</section>



{% else %}
<section class="home">
    <div class="container-reset">
        <p class="titulo">ERROR</p>
        <div class="hr" style="margin-top: 10px;"></div>
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        <button><a href="{% url 'password_reset' %}">Pedir una nueva petición</a></button>
        
    </div>
</section>


{% endif %}

{% endblock %}
