{%extends 'home/base.html'%}
{% load static %}
{% load humanize %}  
{% block content %} 

<link rel="stylesheet" href='{%static "css/detail.css"%}'>

<section class="home">
    <div class="info-view">
        <div class="box">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ bug.id_bug }}</td>
                        <td>{{ bug.titulo }}</td>
                        <td>{{ bug.fecha_reporte | naturaltime}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Prioridad</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ bug.prioridad }}</td>
                        <td>{{ bug.estado }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ bug.descripcion }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ proyecto.nombre_proyecto }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Programador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ programador.nombre_programador }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- <div class="text">Reportes</div>
        {%if reporte%}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Reporte</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for Reporte in reporte %}
                <tr>
                    <td>{{ Reporte.id_reporte }}</td>
                    <td>{{ Reporte.titulo }}</td>
                    <td>{{ Reporte.reporte }}</td>
                    <td>{{ Reporte.correo_usuario }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% else %}
        <div class="text">No hay reportes disponibles</div>
        {% endif %} -->
    </div>
</section>


{% endblock %}
