{% extends 'home/base.html' %}
{% block content %}
    <section class="home">
        <div class="text">Lista de bugs</div>
        {% if latest_bug_list %}
        <table class="table">
            
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Titulo</th>
                  <th>Descripción</th>
                  <th>Prioridad</th>
                  <th>Estado</th>
                  <th>Proyecto</th>
                </tr>
            </thead>
            <tbody>
                {% for Bug in latest_bug_list %}
                <tr>
                  <td>{{ Bug.id_bug }}</td>

                  <td><a href="{% url 'bug_detail:index' Bug.id_bug %}">{{ Bug.titulo }}</a></td>

                  <td>{{ Bug.descripcion }}</td>

                  <td>{{ Bug.prioridad }}</td>

                  <td>{{ Bug.estado }}</td>
    
                  <td>{{ Bug.id_proyecto_id }}</td>
                </tr>
                
                {%endfor%}
              </tbody>
        </table>
        {% else %}
        <div class="text">No hay bugs disponibles</div>
        {% endif %}
    </section>
{% endblock %}